.element {
    background-color: #e7e7e7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.element .div {
    background-color: #e7e7e7;
    overflow: hidden;
    width: 1920px;
    height: 1080px;
    position: relative;
}

.element .sign-up {
    position: absolute;
    width: 843px;
    height: 1078px;
    top: 0;
    left: 0;
}

.element .logo {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 24px;
    left: 24px;
    background-color: #c4c4c4;
    border-radius: 16px;
}

.element .frame {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 32px;
    position: absolute;
    top: 88px;
    left: 88px;
}

.element .div-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    position: relative;
    flex: 0 0 auto;
}

.element .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #333333;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.element .text-field {
    display: flex;
    flex-direction: column;
    width: 665px;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
}

.element .frame-2 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 27px;
}

.element .label {
    position: absolute;
    top: -1px;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #666666;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    background: transparent;
    border: none;
    padding: 0;
}

.element .text-field-2 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 56px;
    border-radius: 12px;
    border: 1px solid;
    border-color: #66666659;
}

.element .div-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.element .label-2 {
    position: absolute;
    top: -1px;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #666666;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.element .password-hide-see {
    position: absolute;
    width: 75px;
    height: 27px;
    top: 0;
    left: 583px;
}

.element .icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 3px;
    left: 0;
}

.element .text-wrapper-2 {
    position: absolute;
    top: 0;
    left: 32px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #666666cc;
    font-size: 18px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
}

.element .frame-3 {
    display: inline-flex;
    align-items: flex-start;
    gap: 18px;
    position: relative;
    flex: 0 0 auto;
}

.element .bullet-point {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 8px 8px 0px;
    position: relative;
    flex: 0 0 auto;
}

.element .ellipse {
    position: relative;
    width: 8px;
    height: 8px;
    background-color: #66666699;
    border-radius: 4px;
}

.element .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #66666699;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.element .link-text {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 8px 8px 8px 0px;
    position: relative;
    flex: 0 0 auto;
}

.element .p {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.element .span {
    color: #333333;
}

.element .text-wrapper-4 {
    color: #111111;
    text-decoration: underline;
}

.element .text-wrapper-5 {
    color: #666666;
}

.element .text-wrapper-6 {
    color: #666666;
    text-decoration: underline;
}

.element .frame-4 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.element .button {
    all: unset;
    box-sizing: border-box;
    position: relative;
    width: 256px;
    height: 64px;
    background-color: #111111;
    border-radius: 32px;
    overflow: hidden;
    opacity: 0.25;
}

.element .frame-5 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    top: 15px;
    left: 31px;
}

.element .sign-up-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.element .have-an-account {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 2px;
    position: relative;
    flex: 0 0 auto;
}

.element .image {
    position: absolute;
    width: 808px;
    height: 1083px;
    top: -1px;
    left: 1112px;
    background-color: #ffffff;
}

.element .sebastian-svenson {
    position: absolute;
    width: 808px;
    height: 1080px;
    top: 1px;
    left: 0;
}
